<div id="<%= dom_id registry %>">
  <p>
    <strong>Name:</strong>
    <%= registry.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= registry.location %>
  </p>

  <p>
    <strong>State:</strong>
    <%= registry.state %>
  </p>

  <p>

  <strong>Coordinators</strong>
    <%= @registry.coordinators.map {|c| "#{c.email}" }.join(",") %>
  </p>

</div>
