<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Participant Name:</strong>
    <%= enrollment.participant.name %>
  </p>
  <p>
    <strong>Registry:</strong>
    <%= enrollment.registry.name + " "+ enrollment.registry.location%>
  </p>
  <p>
    <strong>Date of enrollment:</strong>
    <%= enrollment.date_of_enrollment %>
  </p>

  <p>
    <strong>Method of contact:</strong>
    <%= enrollment.method_of_contact %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= enrollment.remarks %>
  </p>

  <p>
    <strong>Coordinator:</strong>
    <%= enrollment.coordinator.email %>
  </p>

</div>
